body {
  margin: 0;
}
/* header {
  background-color: #1976d2 !important;
} */

/* Width of the entire scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(31, 38, 46, 0.4); /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1976d2; /* Color of the scroll handle */
  border-radius: 2px; /* Roundness of the scroll handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(17, 82, 147); /* Color of the scroll handle on hover */
}
